doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Test
        link(rel='stylesheet', href='/stylesheets/main.css')
    body
        lable Add suffix
            input(type="text")

        script(src="/bower_components/jquery/dist/jquery.min.js")
        script(src="/app.js")
