<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Test</title>
</head>
<body>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<label>New suffix
<input type="text" id="suffix-text">
</label>
<button class="add-suffix-btn">Add suffix</button>
<div>
<button class="random-btn"></button>
</div>
<script src="/app.js"></script>
</body>
</html>